%% -*- erlang -*-
{erl_opts, [debug_info]}.

{plugins, [pc]}.

{project_plugins, [rebar3_lint]}.

{deps, []}.

{provider_hooks,
 [{pre,
   [{compile, {pc, compile}},
    {clean ,{pc, clean}}]}]}.

{port_specs, [{"priv/sntrup761_nif.so", ["c_src/*.c"]}]}.

{xref_checks, [undefined_function_calls]}.

{alias, [{check, [dialyzer, xref, ct, cover, lint]}]}.

{cover_enabled, true}.
{cover_opts, [verbose]}.
